{
  "arrowParens": "always",
  "cursorOffset": 0,
  "embeddedLanguageFormatting": "auto",
  "filepath": "",
  "insertPragma": false,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 80,
  "plugins": [],
  "pluginSearchDirs": [],
  "overrides": [],
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true,
  "requirePragma": false,
  "singleAttributePerLine": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf"
}